<div class="img-thumbnail thumbnail">
  <%= image_tag("/assets/video_thumbnail", class:"rounded img-fluid") %><br>
  <h5 class="text-center mx-auto"><%= title.html_safe %></h5>
  <p class=""><%= date.strftime("%Y年%m月%d日") %></p>
</div>