<div class="img-thumbnail thumbnail">
  <%= image_tag("video_thumbnail.png", class:"rounded img-fluid") %><br>
  <div class="info text-center mx-auto">
    <h5><%= title.html_safe %><br><br>
    <%= date.strftime("%Y年%m月%d日") %><br>
    <%= location %>
    </h5>
  </div>
</div>