<div class="img-thumbnail thumbnail">
  <%= image_tag("/assets/video_thumbnail", class:"rounded img-fluid") %><br>
  <h5 class="text-center mx-auto"><%= title %></h5>
  <p class=""><%= date %></p>
</div>