<h5 class="heading my-1"><%= @to_user_name %></h5>

<div class="container-fluid chat-room">
  <div id="messages" data-room_id="<%= @room.id %>">
    <%= render @messages %>
  </div>
  <div class="form-inline chat-form fixed-bottom">
    <textarea class="form-control" data-behavior="room_speaker"></textarea>
    <button type="submit" class="submit-btn btn btn-primary">送信</button>
  </div>
</div>
<script>
  setTimeout(function() {
    window.scroll(0,$(document).height());
  }, 0);

  $(function() {
    var $textarea = $('[data-behavior~=room_speaker]');
    var lineHeight = parseInt($textarea.css('lineHeight'));
    $textarea.on('input', function(e) {
      var lines = ($(this).val() + '\n').match(/\n/g).length;
      $(this).height(lineHeight * lines);
    });
  });
</script>