<div class="container">
  <br>
  <h4>● 運営会社</h4>
    <p>  HappyBird株式会社</p>
  <br>
  <h4>● 所在地</h4>
    <p>佐賀県佐賀市光一丁目2番19号フラット和住108号</p>
  <br>
  <h4>● 代表者</h4>
    <p>鳥丸　翼</p>
  <br>
</div>