<div class="container">
  <br>
  <h4>利用規約と<br>プライバシーポリシー</h4>
  <hr>
  <br>
  <h5>1.　個人情報収集</h5>
  <p>個人情報とは、個人に関する情報であり、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別できるものを指します。</p>
  <br>
  <h5>2.　個人情報の利用目的</h5>
  <p>当社は、収集した個人情報を以下の目的で利用することができるものとします。</p>
  <ul>
    <li>・ アンケート実施のため</li>
    <li>・ 懸賞、キャンペーンのため</li>
    <li>・ マーケティングデータ調査、統計、分析のため</li>
    <li>・ 新サービス、新機能の開発のため</li>
    <li>・ コンテンツ、その他の情報提供サービス、システム利用サービスの提供のため</li>
    <li>・ 料金請求・課金計算のため</li>
    <li>・ 本人確認、認証サービスのため</li>
    <li>・ アフターサービス、お問い合わせ、苦情対応のため</li>
  </ul>
  <h6>2-1.　共同利用する個人データの項目</h6>
    <p>お客様を判別できる画像及び映像情報、音声、生年月日、ルーム名、ルーム説明文、アカウントID及び端末識別情報</p>
  <h6>2-2.　同利用する者の範囲</h6>
    <p>HappyBird株式会社</p>
  <h6>2-3.　利用目的</h6>
    <p>新商品、新サービス及び新機能の開発のため</p>
</div>
