<footer class="fixed-bottom">
  <nav class="navbar navbar-dark bg-dark p-2">
    <ul class="nav nav-justified">
      <li class="text-center">
        <%= link_to root_path do %><i class="fa fa-home fa-3x"  style="color:white"></i><% end %>
      </li>
      <li class="text-center">
        <%= link_to videos_path do %><i class="fa fa-play-circle fa-3x" style="color:white"></i><% end %>
      </li>
      <li class="text-center">
        <%= link_to rooms_path do %><i class="fa fa-comments fa-3x" style="color:white"></i><% end %>
      </li>
      <li class="text-center">
        <%= link_to new_video_path do %><i class="fa fa-upload fa-3x" style="color:white"></i><% end %>
      </li>
    </ul>
  </nav>
</footer><!--footer end-->
